::selection {
  color: blue;
  background: yellow;
}

p, h1, h2, h3, h4 {
    font-size: 14.5px !important;
}

.element-container:nth-of-type(1) button{
	height: 45px;
	padding-top: 10px; 
    padding-bottom: 10px;
	font-size: 15px
}

.element-container:nth-of-type(1) button:hover {
	background-color: #806D7E;
	color: white;
	box-shadow: 2px 3px 5px #888;
	transform: translate(5%, -5%); 
}

.element-container:nth-of-type(1) button:active {
	background-color: Khaki;
	color: blue;
	cursor: wait;
}

.element-container:nth-of-type(1) button:disabled {
	cursor: not-allowed;
	opacity: 0.5;
	cursor: not-allowed;
	pointer-events: none;	
}

div[data-baseweb="input"] input {
	text-align: center;
}

h1:hover, h2:hover, h3:hover, h4:hover, p:hover {
    color: #8B0000 !important; 
    text-decoration-line: underline;
	font-style: italic;
	text-decoration-color: hsla(0, 100%, 80%, 0.3);
}

